<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>
<Configuration status="ALL">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<logger name="org.hibernate.SQL">
			<level value="INFO" />
		</logger>

		<logger name="org.hibernate.type">
			<level value="INFO" />
		</logger>
		<logger name="com.sun.faces">
			<level value="INFO" />
		</logger>
		<logger name="javax.faces">
			<level value="INFO" />
		</logger>
		<logger name="com.bitshammer">
			<level value="INFO" />
		</logger>

		<Root level="INFO" additivity="false">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>

</Configuration>